p {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-text-color;

  // @include mobile {
  //   font-size: $base-font-size-mobile;
  // }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: $secondary-font-family-bold;
  // color: $dark-text-color-1;
}

h1 {
  // font-size: $font-size-h1;
}

h2 {
  // font-size: $font-size-h2;
}

h3 {
  // font-size: $font-size-h3;
}

//main styles
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1175px;
  padding: 0 15px;
  margin: 0 auto;

  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header {
  padding: 30px 0 25px;

  @include mobile-sm {
    padding-top: 20px;
    padding-bottom: 15px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-link {
    display: block;
  }

  &__logo-img {
    width: 147px;

    @include mobile {
      width: 100px;
    }
  }

  &__phones {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__img-wrap {
    margin: 0 45px 0 0;

    @include mobile {
      margin-right: 35px;
    }

    @include mobile-sm {
      margin-right: 10px;
    }
  }

  &__img {
    width: 48px;
    height: auto;
  }

  &__phone {
    font-size: 12px;
    color: $blue;
    padding: 3px 0;
    font-family: $rubik-bold;

    @include mobile-sm {
      font-size: 11px;
    }
  }

  &__phone-link {
    color: $blue;
    font-size: 20px;
    margin: 0 0 0 15px;

    @include mobile-sm {
      font-size: 18px;
      margin-left: 10px;
    }
  }
}

.main {
  background: url('/images/main.jpg') center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px 0 175px;

  @include mobile {
    padding-top: 15px;
    padding-bottom: 255px;
    background-image: url('/images/main-mobile.jpg');
  }

  &__btn-wrap {

    &.m-primary {
      display: none;
      background-color: #fff;

      @include mobile {
        display: block;
      }

    }
  }

  &__content {
    width: 60%;

    @include mobile {
      width: 100%;
    }
  }

  &__title {
    font-family: $rubik-bold;
    font-size: 72px;
    text-transform: uppercase;
    color: #fff;

    @include mobile-sm {
      font-size: 60px;
    }
  }

  &__subtitle {
    font-family: $rubik-medium;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;

    @include mobile-sm {
      font-size: 20px;
    }
  }

  &__btn-wrap {
    padding: 20px 0 25px;
    margin: 0 0 70px;

    .container {
      display: flex;
      justify-content: center;
    }

    @include mobile {
      padding-top: 40px;
    }
  }
}

.title {
  font-family: $rubik-medium;
  color: #2d2d2d;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 0 0 25px;

  &.center {
    display: flex;
    justify-content: center;
  }

  &:before {
    content: '';
    display: block;
    background-color: #ababab;
    height: 2px;
    width: 85px;
    margin: 6px 14px 0 0;
  }

  &.m-secondary {
    &:after {
      content: '';
      display: block;
      background-color: #ababab;
      height: 2px;
      width: 85px;
      margin: 6px 0 0 14px;
    }
  }
}

.subtitle {
  font-family: $rubik-regular;
  font-size: 36px;
  color: $blue;

  &.center {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  strong {
    font-family: $rubik-bold;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: transparent;

  padding: 23px 90px;
  font-size: 16px;
  font-family: $rubik-bold;
  min-width: 265px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 1;

  &__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #fff;
    color: $blue;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 11px 16px 0px rgba(0, 0, 0, 0.15);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 7px;
    z-index: 0;
    background-color: $blue;
  }
}

.about {
  $about-padding-top: 90px;
  padding: $about-padding-top 0 130px;

  @include mobile {
    padding-top: 0;
    padding-bottom: 45px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include mobile {
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 50%;

    @include mobile {
      order: 2;
    }

    &.m-primary {
      width: 40%;

      @include mobile {
        width: 100%;
        order: 1;
      }
    }

    @include mobile {
      width: 100%;
    }
  }

  &__subtitle {
    padding: 0 0 20px;
  }

  &__text {
    font-family: $rubik-regular;
    font-size: 16px;
    color: $base-text-color;
  }

  &__list-wrap {
    box-shadow: 0px 8px 49px 0px rgba(0, 0, 0, 0.28);
    background-color: #fff;
    border-radius: 23px;
    padding: 60px 40px;
    position: absolute;
    z-index: 1;
    top: -$about-padding-top - 82px;

    @include mobile {
      width: 100%;
      top: -82px;
      position: relative;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list-icon-wrap {
    width: 90px;
    margin: 0 28px 0 0;
  }

  &__list-icon {
    width: 100%;
    height: auto;
  }

  &__list-text {
    font-family: $rubik-medium;
    font-size: 20px;
    color: $blue;
  }
}


.services {
  @include tablet {
    padding-bottom: 95px;
  }

  &__row {
    margin: 45px -15px 125px;
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-wrap: wrap;
      margin-bottom: 0;
    }
  }

  &__row-item {
    padding: 0 15px 55px;
    width: 25%;
    display: flex;
    justify-content: space-between;
    height: 320px;

    @include tablet {
      width: 50%;
      // height: 260px;
    }

    @include mobile-sm {
      width: 100%;
      height: 260px;
    }
  }

  &__row-item-inner {
    position: relative;
    width: 100%;
    display: flex;
  }

  &__row-item-img-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    border-radius: 13px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: url(../images/gradient.png) center center no-repeat;
      background-size: 100% 100%;
    }
  }

  &__row-item-img {
    max-width: 100%;
    aspect-ratio: 2/5;
    object-fit: cover;
  }

  &__row-item-content {
    position: relative;
    padding: 0 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__row-item-title,
  &__row-item-subtitle {
    text-align: center;
    color: #fff;
  }

  &__row-item-title {
    text-transform: uppercase;
    font-family: $rubik-bold;
    font-size: 20px;
    padding: 0 0 5px;
  }

  &__row-item-subtitle {
    color: #fff;
    font-family: $rubik-medium;
    font-size: 14px;
  }

  &__row-item-btn-wrap {
    display: flex;
    justify-content: center;
  }

  &__btn {
    position: relative;
    top: 23px;
    width: 196px;
    min-width: 196px;

    @include tablet {
      width: 90%;
      min-width: 90%;
    }
  }
}

.booking {
  background-color: $blue-dark;
  padding: 80px 0 90px;
  overflow: hidden;

  @include tablet {
    padding-top: 95px;
    padding-bottom: 100px;
  }

  &__inner {
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  &__title {
    font-family: $rubik-bold;
    color: #fff;
    font-size: 48px;
    text-transform: uppercase;
    padding-bottom: 30px;

    @include tablet {
      text-align: center;
    }
  }

  &__subtitle {
    font-family: $rubik-medium;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 35px;
    width: 40%;
    text-align: center;

    @include tablet {
      width: 100%;
    }
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 55px;

    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__contacts-title {
    font-family: $rubik-regular;
    color: #fff;
    font-size: 20px;
    padding-right: 30px;

    strong {
      font-family: $rubik-bold;
    }

    @include tablet {
      width: 100%;
      text-align: center;
    }
  }

  &__contacts-link {
    font-family: $rubik-bold;
    color: #fff;
    font-size: 36px;
    text-decoration: none;
    white-space: nowrap;
    display: block;

    @include tablet {
      width: 100%;
      text-align: center;
    }
  }

  &__form-wrap {
    margin: 0 95px;

    @include tablet {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__form {
    background-color: #fff;
    border-radius: 13px;
    padding: 35px 10px 39px;
    box-shadow: 0px 11px 16px 0px rgba(0, 0, 0, 0.15);
  }

  &__form-title {
    font-family: $rubik-bold;
    color: $blue;
    font-size: 20px;
    padding: 0 0 27px;
    text-align: center;

    @include tablet {
      padding-bottom: 45px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  &__form-row {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__form-item {
    margin: 0 20px;
    flex-grow: 0;
    flex-shrink: 1;

    &.m-primary {
      display: flex;
      justify-content: flex-start;

      &:before {
        content: '+45';
        display: block;
        font-family: $rubik-bold;
        color: $blue;
        font-size: 20px;
        padding-right: 15px;
      }

      @include tablet {
        justify-content: center;
        padding-bottom: 45px;
      }
    }

    @include tablet {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__input {
    border: none;
    outline: none;
    font-family: $rubik-bold;
    color: #2d2d2d;
    font-size: 20px;
    letter-spacing: 5px;
    width: 185px;
  }

  &__btn {

    @include tablet {
      width: 155px;
      min-width: 155px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__bg {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: $rubik-bold;
    color: #fff;
    font-size: 200px;
    text-transform: uppercase;
    opacity: 0.2;
    z-index: 0;
    line-height: 1;

    @include tablet {
      top: -45px;
    }
  }
}