// $min-width: 480px;
// $max-width: 1920px;
// $content-width: 1140px;

// $breakpoint-tablet: 1024px;
// $breakpoint-mobile: 768px;


// $base-font-size-mobile: 24px; // in reset file

// $font-size-h1: 48px;
// $font-size-h2: 36px;
// $font-size-h3: 28px;

$base-font-size: 16px; // in reset file
$base-font-size-mobile: 16px;
$base-line-height: 1.4;
$base-font-family: sans-serif; // in reset file
$base-text-color: #2d2d2d;

$rubik-regular: 'rubik-regular', sans-serif;
$rubik-medium: 'rubik-medium', sans-serif;
$rubik-bold: 'rubik-bold', sans-serif;


$blue: #328cda;
$blue-dark: #2a70ae;

$base-transition: all 0.6s ease 0s; // in reset file

// $base-bg: #ffffff; // in reset file

// $light-text-color: #ffffff;
// $dark-text-color-1: #272013;
// $dark-text-color-2: #403c33;
// $dark-text-color-3: #736357;
// $blue-color: #3e6894;
// $link-color: $blue-color; // in reset file
// $yellow-color: #e8be21;
// $btn-color: #e7e7e7;
// $dark: #101010;

// $base-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
// $secondary-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

// $about-item-title-width: 254px;